<header class="">
  <div class="flex justify-center px-1 sm:px-6 lg:px-8 bg-cinnabar-500">
    <nav id="desktop-nav" class="flex flex-col sm:flex-row items-center justify-between text-white max-w-screen-2xl w-full m-4 gap-2">
      <div id="nav-logo" class="flex items-center">
        {% if site.general.logo %}
          <a href="/"><img src="{{site.general.logo}}" alt="{{site.general.name}} Logo"></a>
        {% endif %}
        <a class="hover:text-gray-200 text-2xl text-center flex-shrink" href="/">{{site.general.title}}</a>
      </div>
      <div id="nav-links" class="hidden sm:flex flex-col flex-wrap items-end gap-2 font-bold">
        {% for link in navigation.header %}
          <a href="{{link.url}}">{{link.text}}</a>
        {% endfor %}
      </div>
    </nav>
</header>
